{% extends 'layout.html' %} {% block content %}
<div class="container">
  <div class="row">
    {% for row in content %}
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Developer: {{ row[1] }}</h5>
          <p class="card-text">Project: {{ row[2] }}</p>
          <p class="card-text">Start Time: {{ row[3] }}</p>
          <p class="card-text">End Time: {{ row[4] }}</p>
          <p class="card-text">
            <button
              class="btn btn-primary"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#expanded-{{ loop.index }}"
              aria-expanded="false"
              aria-controls="expanded-{{ loop.index }}"
            >
              Read more
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="collapse" id="expanded-{{ loop.index }}">
      <div class="card card-body">
        <strong>URL:</strong><a href="{{ row[5] }}">{{ row[5] }}</a>
        <strong>Note:</strong> {{ row[6] }} <br />
        <strong>Code Snippet:</strong>
        <pre><code class="language-{{ row[9] }}">{{ row[7] }}</code></pre>
      </div>
    </div>
    {% endfor %} {% endblock %}
  </div>
</div>
