<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      http-equiv="content-security-policy"
      content="base-uri 'self'; default-src 'self' https://github.dev ; style-src 'self'; script-src 'self'; img-src 'self' data:; media-src 'self'; font-src 'self'; connect-src 'self'; object-src 'self'; worker-src 'self'; frame-src 'none'; form-action 'self'; manifest-src 'self' https://github.dev"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    <title>Bootstrap demo</title>
    <link href="static/manifest.json" rel="manifest" />
    <link href="static/images/favicon.png" rel="icon" type="image/x-icon" />
    <meta name="theme-color" content="" />
    <link href="static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/css/prism.css" rel="stylesheet" />
    <link href="static/css/prism-okaidia.min.css" rel="stylesheet" />
    <link href="static/css/style.css" rel="stylesheet" />
  </head>
  <body>
    {% include "partials/menu.html" %} {% with messages =
    get_flashed_messages(with_categories=true) %} {% if messages %}
    <div class="container mt-3">
      {% for category, message in messages %}
      <div
        class="alert alert-{{ category }} alert-dismissible fade show"
        role="alert"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}{% block content %}{% endblock %}
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/prism.js"></script>
    <script src="static/js/prism-python.min.js"></script>
    <script src="static/js/prism-javascript.min.js"></script>
    <script src="static/js/serviceWorker.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/js/highlight_search.js"></script>
    <script src="static/js/textarea_tabs.js"></script>
  </body>
</html>
