{% extends 'layout.html' %} {% block content %}
<div class="container d-flex align-items-center justify-content-center vh-100">
  <form
    class="border p-4 rounded shadow"
    method="POST"
    action="{{url_for('register')}}"
  >
    <h2 class="text-center mb-4">Register</h2>

    <!-- CSRF token -->
    {{ form.hidden_tag() }}
    <!-- Email input -->
    {{ form.email.label(class='form-label') }} {{
    form.email(class='form-control') }}{% if form.email.errors %} {% for error
    in form.email.errors %}
    <div class="alert alert-danger mt-3">{{ error }}</div>
    {% endfor %} {% endif %}

    <!-- Password input -->
    {{ form.password.label(class='form-label') }} {{
    form.password(class='form-control') }}{% if form.password.errors %} {% for
    error in form.password.errors %}
    <div class="alert alert-danger mt-3">{{ error }}</div>
    {% endfor %} {% endif %}

    <!-- Confirm Password input -->
    {{ form.confirm_password.label(class='form-label') }} {{
    form.confirm_password(class='form-control') }}{% if
    form.confirm_password.errors %} {% for error in form.confirm_password.errors
    %}
    <div class="alert alert-danger mt-3">{{ error }}</div>
    {% endfor %} {% endif %} {% with messages =
    get_flashed_messages(with_categories=true) %} {% if messages %}
    <div class="alert alert-danger mt-3" role="alert">
      {% for category, message in messages %}
      <div class="text-center">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <!-- Submit button -->
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary mt-3">Sign Up</button>
    </div>

    <!-- Login button -->
    <p class="text-center mt-3">
      Already have an account?
      <a href="{{ url_for('login') }}">Log in here</a>
    </p>
  </form>
</div>

{% endblock %}
